<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bonn_university.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018 - 2021</h4>
                                    <h4 class="subheading">Universität Bonn</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">M.S. in Computer Science <br />specialisation Intelligent Systems</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/tampere_university.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Tampere University of Technology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Exchange semester in B.S. Computer Science</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/politechnika_lodzka.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 - 2018</h4>
                                    <h4 class="subheading">Lodz University of Technology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">B.S. in Computer Science <br />specialisation Information Technologies</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h1>
                                    <br><i class="fa-solid fa-graduation-cap"></i>
                                    </h1>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>